{% extends 'base.html.twig' %}
{% block body %}
<main>
    <div class="sizing-header">
        <div id="header">
            <div id="header-name">
                <div id="header-name-status">
                    <span id="header-name-status-indicator"></span>
                    <p id="small-header">Otevřen novým kariérním výzvám</p>
                </div>
                <h1>{{profile.firstName}}<br/>{{profile.lastName}}</h1>
            </div>
            <div id="sub-header">
                <p>{{profile.location}}</p>
                <p>{{profile.position}}</p>
            </div>
        </div>
    </div>
    <div id="photo-splitter">
        <img src="/images/splitter.jpg" alt="photo-splitter">
    </div>
    <div class="main-sizing">
        <section id="about-me">
            <div id="about-me-section">
                <h2>O MNĚ</h2>
                <img src="/images/me.jpg" alt="me" class="scroll-reveal">
                <h3 id="about-me-sub-header" class="scroll-reveal">{{profile.shortDescription}}</h3>
                <div id="about-me-text" class="scroll-reveal">{{profile.longDescription|raw}}</div>
                <a id="about-me-resume" class="scroll-reveal" href="#">STÁHNOUT ŽIVOTOPIS</a>
            </div>
        </section>
        <div class="scroller first">
            <ul class="tag-list scroller__inner">
            <li><img src="/images/programming/php.png" alt="php"></li>
            <li><img src="/images/programming/sql.png" alt="SQL"></li>
            <li><img src="/images/programming/html.svg" alt="HTML"></li>
            <li><img src="/images/programming/css.png" alt="CSS"></li>
            <li><img src="/images/programming/js.png" alt="CSS"></li>
            <li><img src="/images/programming/c-sharp.png" alt="C#"></li>
            <li><img src="/images/programming/java.png" alt="Java"></li>
            <li><img src="/images/programming/lua.png" alt="Lua"></li>
            <li><img src="/images/programming/sql.png" alt="SQL"></li>
            </ul>
        </div>
        <div class="scroller second" data-direction="right">
            <ul class="tag-list scroller__inner">
                <li><img src="/images/programming/node.png" alt="Node"></li>
                <li><img src="/images/programming/aspnet.svg" alt="APS.NET"></li>
                <li><img src="/images/programming/symfony.png" alt="Nette"></li>
                <li><img src="/images/programming/nette.png" alt="Nette"></li>
                <li><img src="/images/programming/monogame.png" alt="Monogame"></li>
                <li><img src="/images/programming/aspnet.svg" alt="APS.NET"></li>
                <li><img src="/images/programming/symfony.png" alt="Nette"></li>
                <li><img src="/images/programming/nette.png" alt="Nette"></li>
            </ul>
        </div>
        <section id="skills-section">
            <h2>DOVEDNOSTI</h2>
            <div id="skills">
                {% for skillCategory in skillCategories %}
                <div class="skills">
                    {% for skill in skillCategory.skills %}
                    <div class="skill">
                        <span>{{skill.name}}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
        </section>
        <section id="projects">
            <h2>PROJEKTY</h2>
            <div id="projects-specific">
            {% for project in projects %}
                <a href='{{path('app_project_show',{'id':project.id})}}' class="project">
                    <div class="project-img">
                        <img src="{{asset('images/projects/' ~ project.sImage)}}"/>
                        <div class="project-type-tag {{project.type.value}}">
                            <p>{{ project.type.value }}</p>
                        </div>
                    </div>
                    <div class="project-detail">
                        <div class="project-detail-left">
                            <h4>{{project.name}}</h4>

                            {% set skills = project.skills|split(';') %}
                            {% if skills is not empty %}
                            <div class="tags">
                                {% for skill in skills %}
                                    <p class='tag'>{{skill}}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="project-detail-right">
                            <p>{{project.date|date('Y')}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
        </section>
        <section id="experience">
            <h2>VZDĚLÁNÍ A PRACOVNÍ ZKUŠENOSTI</h2>
            <div id="experience-items">
            {% for specificExperience in experience %}
                {% if specificExperience.longDescription is not empty %}
                    <a href="{{ path('app_experience_show',{'id':specificExperience.id}) }}" class="experience-item">
                        <p class='date'>{{specificExperience.dateFrom|date('Y')}}-{{specificExperience.dateTo|date('Y')}}</p>
                        <h3>{{specificExperience.company}}</h3>
                        <h4>{{specificExperience.position}}</h4>
                        <p>{{specificExperience.shortDescription|raw}}</p>

                        <span class="external-icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a>
                {% else %}
                    <div class="experience-item">
                        <p class='date'>{{specificExperience.dateFrom|date('Y')}}-{{specificExperience.dateTo|date('Y')}}</p>
                        <h3>{{specificExperience.company}}</h3>
                        <h4>{{specificExperience.position}}</h4>
                        <p>{{specificExperience.shortDescription|raw}}</p>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </section>
        </div>
    </section>
</main>
{% endblock %}
