<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Main page{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
        <script src="{{ asset('home.js') }}"></script>
        {% block stylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    
    <body>
        <header>
        {{ include('_nav.html.twig') }}
        </header>
        {% block body %}
        {% endblock %}
        
        {{ include('_footer.html.twig') }}
    </body>
</html>
<script>
    setTimeout(() => {
        const flashes = document.querySelectorAll('[class^="flash-"]');
        flashes.forEach(flash => flash.style.display = 'none');
    }, 10000); // 3000 ms = 3 sekundy
</script>
