<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Main page{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
        <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
        <script src="{{ asset('home.js') }}"></script>
        {% block stylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    
    <body>
        <header>
        {{ include('_nav.html.twig') }}
        </header>
        {% block body %}
        {% endblock %}
        
        {{ include('_footer.html.twig') }}
    </body>
</html>
<script>
    setTimeout(() => {
        const flashes = document.querySelectorAll('[class^="flash-"]');
        flashes.forEach(flash => flash.style.display = 'none');
    }, 10000); // 3000 ms = 3 sekundy
</script>
