{% extends 'base.html.twig' %}
{% block body %}

<section class="article-sizing">
    <div class="article">
        <div class="article-content">
            <h1 class='article-title'>{{experience.company}}</h1>
            <h2>{{experience.position}}</h2>
            <time class="article-body-date">
                {{ experience.dateFrom|date('Y') }}
                –
                {{ experience.dateTo ? experience.dateTo|date('Y') : 'Present' }}
            </time>
            <div class='article-body'>
                <div class='article-content-short-description'>
                    <p>{{experience.shortDescription}}</p>
                </div>
                <div class='article-content-long-description'>
                    {{experience.longDescription |raw}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
