{% extends 'base.html.twig' %}
{% block body %}

<section class="article-sizing">
    <div class="article">
        <div class="article-media">
            <img src="{{ asset('images/projects/' ~ project.mImage) }}" alt="{{ project.name }}">
            <div class="project-type-tag {{project.type.value}}">
                <p>{{ project.type.value }}</p>
            </div>
        </div>
        <div class="article-content">
                <h1 class="article-title">{{project.name}}</h1>
                {% set skills = project.skills|split(';') %}
                {% if skills is not empty %}
                <div class="tags">
                    {% for skill in skills %}
                        <p class='tag'>{{skill}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            <div class="article-body">
                <div class='article-content-short-description'>
                    <p>{{project.shortDescription}}</p>
                </div>
                <div class='article-content-long-description'>
                    {{project.longDescription |raw}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
